.header {
    padding: 20px;
    background-color: #88abd5;
  }
  
  .title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }